# Node modules
node_modules

# Environment files
.env
.env.local
.env.production
server/.env*
client/.env*

# Deployment artifacts
dist
build

# Logs
*.log
logs

# OS / editor
.DS_Store
.vscode
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
